<head>
  <meta charset='utf-8'></meta>
  <style>
    #query {
      background-color: #444;
      color: white;
      padding: 10px;
      height: 100px;
      font-size: 14px;
      font-family: monospace;

      white-space: pre-wrap;
      word-wrap: break-word;
    }

    .error {
      color: red;
    }

    .kw {
      color: orange;
    }

    .number {
      color: pink;
    }
  </style>
</head>

<div id="query" contenteditable="true" spellcheck="false"></div>
<script src="/bundle.js"></script>
